{% extends "base.html" %}
{% block title %}Logi sisse{% endblock %}

{% block body %}
<div class="modal modal-signin d-block bg-secondary bg-gradient py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Logi sisse</h1>
            </div>
            <div class="modal-body p-5 pt-0">
                {% if error %}
                <p style="color:red">{{ error }}</p>
                {% endif %}
                <form method="post">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control rounded-3" id="floatingInput" name="email"
                               placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="floatingPassword" name="parool"
                               placeholder="Password">
                        <label for="floatingPassword">Parool</label>
                    </div>
                    <div class="checkbox mb-3 py-3">
                        <label>
                            <input type="checkbox" name='checkbox'>
                            Logi mind tulevikus automaatselt sisse
                        </label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Logi sisse</button>
                </form>
                <hr class="my-4">
                <a href="{{ url_for('registreeri') }}">
                    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="button"> Loo uus konto
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


